

        <!--[if gte IE 9 | !IE ]><!-->
        <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/wet-boew.min.js"></script>
        <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/theme.min.js"></script>
        <!--<![endif]-->
        <!--[if lt IE 9]>
                <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/ie8-wet-boew2.min.js"></script>    
        <![endif]-->