

        <!--[if gte IE 9 | !IE ]><!-->
        <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/wet-boew.min.js"></script>
        <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/theme.min.js"></script>
        <!--<![endif]-->
        <!--[if lt IE 9]>
                <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/js/ie8-wet-boew2.min.js"></script>    
        <![endif]-->

<!--		<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.indicate').slick({
					infinite: true,
					slidesToShow: 3,
					slidesToScroll: 3,
					variableWidth: true,
					arrows: true
				});
			});


		</script>
