    
    <!--[if gte IE 9 | !IE ]><!-->
        <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/assets/favicon.ico" rel="icon"
        type="image/x-icon">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_31/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
            <link href="./GCWeb/assets/favicon.ico" rel="shortcut icon" />
            
            <link rel="stylesheet" href="./GCWeb/css/ie8-theme.min.css" />
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="./wet-boew/js/ie8-wet-boew.min.js"></script>
            <![endif]-->
    <!--[if lte IE 9]>
            
            
    <![endif]-->
    <noscript>
        <link rel="stylesheet" href="./wet-boew/css/noscript.min.css" />
    </noscript>
