<section>

        <div class="row">

            <div class="col-md-8">

<!--				<h2>In the news</h2>-->

				<ul class="article-cards-style-main">

				<li>
					<article class="article-card">

						<div class="article-card-title">
							<h3><a href="#">Study: The gender wage gap in Canada: 1998 to 2018</a></h3>
						</div>

						<div class="article-card-information">
							<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Labour</a></p>
							<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
						</div>

						<div class="article-card-content">
							<div class="article-card-date">
								<time>October 9, 2019, 3:37 PM (EST)</time>
							</div>
							<div class="row">
								<div class="article-card-image col-xs-12 col-md-6">
									<img src="/images/home/business-women-collaborate.jpg" alt="" />

								</div>
								<div class="article-card-text col-xs-12 col-md-6">

									<p>In Canada, women in the core working ages of 25 to 54 earned an average of $26.92 per hour in 2018, while their male counterparts earned $31.05. In other words, women earned $4.13 (or 13.3%) less per hour, on average, than men, or $0.87 for every dollar earned by men.</p>
									<p><a href="https://www150.statcan.gc.ca/n1/pub/75-004-m/75-004-m2019004-eng.htm" class="see-more-link">Read more... <span class="wb-inv">about "Study: The gender wage gap in Canada: 1998 to 2018"</span></a></p>

								</div>
							</div>

						</div>

					</article>
				</li>

				<li>
					<article class="article-card">

						<div class="article-card-title">
							<h3><a href="#">Asphalt roofing material, August 2019</a></h3>
						</div>

						<div class="article-card-information">
							<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
							<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
						</div>

						<div class="article-card-content">

							<div class="article-card-date">
								<time>October 9, 2019, 3:37 PM (EST)</time>
							</div>
							<div class="row">
							<div class="article-card-image col-xs-12 col-md-6">
								<img src="/images/home/aerial-shot-architecture.jpg" alt="" />
							</div>


							<div class="article-card-text col-xs-12 col-md-6">

								<p>Shipments of asphalt shingles totalled 2.5 million metric bundles in August, down 30.2% from the previous month and down 29.1% from August 2018.</p>
									
								<p><a href="https://www150.statcan.gc.ca/n1/pub/75-004-m/75-004-m2019004-eng.htm" class="see-more-link">Read more... <span class="wb-inv">about "Asphalt roofing material, August 2019"</span></a></p>

							</div>
							</div>
						</div>

					</article>
				</li>
					<li>
						<article class="article-card">

							<div class="article-card-title">
								<h3><a href="#">Building permits, August 2019</a></h3>
							</div>

							<div class="article-card-information">
								<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
								<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
							</div>

							<div class="article-card-content">

								<div class="article-card-date">
									<time>October 9, 2019, 3:37 PM (EST)</time>
								</div>
								<div class="row">
									<div class="article-card-image col-xs-12 col-md-6">
										<img src="/images/home/aerial-shot-architecture.jpg" alt="" />
									</div>


									<div class="article-card-text col-xs-12 col-md-6">

										<p>The value of building permits issued by Canadian municipalities rose 6.1% to $9.0 billion in August, largely because of increases in multi-family and industrial permits. Gains were reported in seven provinces, with over one-third of the national increase in Quebec.</p>
											
										<p><a href="https://www150.statcan.gc.ca/n1/daily-quotidien/191008/dq191008a-eng.htm" class="see-more-link">Read more... <span class="wb-inv">about "Building permits, August 2019"</span></a></p>

									</div>
								</div>
							</div>

						</article>
					</li>

					<li>
						<article class="article-card">

							<div class="article-card-title">
								<h3><a href="#">Asphalt roofing material, August 2019</a></h3>
							</div>

							<!--<div class="article-card-information">
								<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
								<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
							</div>-->

							<div class="article-card-content">

								<!--<div class="article-card-image col-xs-12 col-md-6">
									<img src="/images/home/aerial-shot-architecture.jpg" alt="" />
								</div>-->

								<div class="article-card-date">
									<time>October 9, 2019, 3:37 PM (EST)</time>
								</div>

								<div class="article-card-text">

									<p>Shipments of asphalt shingles totalled 2.5 million metric bundles in August, down 30.2% from the previous month and down 29.1% from August 2018.</p>

									<p><a href="" class="see-more-link">Read more... <span class="wb-inv">about "Asphalt roofing material, August 2019"</span></a></p>

								</div>

							</div>

						</article>
					</li>
					<li>
						<article class="article-card">

							<div class="article-card-title">
								<h3><a href="#">Gross domestic product by industry: Provinces and territories, 2019</a></h3>
							</div>

							<!--<div class="article-card-information">
								<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
								<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
							</div>-->

							<div class="article-card-content">

								<!--<div class="article-card-image col-xs-12 col-md-6">
									<img src="/images/home/aerial-shot-architecture.jpg" alt="" />
								</div>-->

								<div class="article-card-date">
									<time>October 9, 2019, 8:30 AM (EST)</time>
								</div>

								<div class="article-card-text">

									<p>Data on provincial and territorial real gross domestic product (GDP) by industry are now available for the year 2019. </p>
										
									<p><a href="https://www150.statcan.gc.ca/n1/daily-quotidien/200601/dq200601b-eng.htm" class="see-more-link">Read more... <span class="wb-inv">about "Gross domestic product by industry: Provinces and territories, 2019"</span></a></p>

								</div>

							</div>

						</article>
					</li>
			</ul>

				<ul class="article-cards-style-main">



				</ul>

            </div>

			<div class="col-md-4">

				<div class="sub-content-container">

					<div class="sub-articles-container">

						<h2>Interact with data</h2>

						<ul class="article-cards-style-sub">
							<li>
								<article class="article-card visualizations">
									
									<div class="article-card-title">
										<h3><a href="#">Data Visualizations</a></h3>
									</div>

									<!--<div class="article-card-information">
										<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Labour</a></p>
&lt;!&ndash;										<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>&ndash;&gt;
									</div>-->

									<div class="article-card-content">

										<div class="article-card-image">
											<a href=""><img src="/images/home/ite.png" alt="" /></a>

										</div>

										<a href="#" class="see-more-link">See more...</a>
									</div>

								</article>
							</li>
							<li>
								<article class="article-card visualizations">

									<div class="article-card-title">
										<h3><a href="#">Infographics</a></h3>
									</div>

									<!--<div class="article-card-information">
										<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
&lt;!&ndash;										<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>&ndash;&gt;
									</div>-->

									<div class="article-card-content ">

										<div class="article-card-image">
											<a href=""><img src="/images/home/info.png" alt="" /></a>
										</div>
										<a href="#" class="see-more-link">See more...</a>

									</div>

								</article>
							</li>

						</ul>
						
						<div class="also-available-sm">

							<h2 class="footer-h2">Also available today</h2>
			
							<ul class="product-list">
			
								<li>
									<article class="product-card also-avail">
										<h3>
											<span class="wb-inv">Category: </span>Canadian Labor Market Observatory:
											<span class="wb-inv">Title: </span>"Earnings and payroll employment in brief: Interactive app" Catalogue number</h3>
										<p>Catalogue Number: <a href="">142000012019001  (<span class="sr-only">Product Type:</span>HTML)</a></p>
			
									</article>
								</li>
			
								<li>
									<article class="product-card also-avail">
										<h3>
											<span class="wb-inv">Category: </span>Something else
											<span class="wb-inv">Title: </span>Do eiusmod irure incididunt magna in ex</h3>
										<p>Catalogue Number: <a href="">142000012019001  (<span class="sr-only">Product Type:</span>HTML)</a></p>
									</article>
								</li>
			
								<li>
									<article class="product-card also-avail">
										<h3>
											<span class="wb-inv">Category: </span>Something else
											<span class="wb-inv">Title: </span>Do eiusmod irure incididunt magna in ex</h3>
										<p>Catalogue Number: <a href="">142000012019001  (<span class="sr-only">Product Type:</span>HTML)</a></p>
									</article>
								</li>
			
							</ul>
			
							<p style="font: 300 18px/22px Noto Sans;"><a href="#">See all products</a></p>
			
			
						</div>

						<div class="line"></div>

						<div class="twitter-feed">
							<h2>Connect with us!</h2>
							<div class="twitter-articles">
								<a class="twitter-timeline" data-tweet-limit="2" href="https://twitter.com/StatCan_eng?ref_src=twsrc%5Etfw">Tweets by StatCan_eng</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>													
							</div>
							<!--<img src="/images/home/twitter.png" alt="" style="display: block; max-width:100%;">-->
							<p class="twitter-link"><a href="https://twitter.com/StatCan_eng?ref_src=twsrc%5Etfw" target="_blank">See more...</a></p>							
						</div>
						<div class="contact-img img-fluid">
							<img src="/images/home/social.png" alt="" style="width:100%;max-width: 400px; margin-top:21px">
						</div>
						

					</div>

					<div class="you-may-also-like-container">						
						<h2>You may also like</h2>
						<ul class="also-like">
							<li><a href="#">My Statcan</a></li>
							<li><a href="#">Upcoming</a></li>
							<li><a href="#">The Weekly Review</a></li>
							<li><a href="#">Watch: review economic statistics</a></li>
						</ul>
					</div>

				</div>

            </div>

        </div>

    </section>
