<section>

        <div class="row">

            <div class="col-md-7">

<!--				<h2>In the news</h2>-->

				<ul class="article-cards-style-main">

				<li>
					<article class="article-card">

						<div class="article-card-title">
							<h3><a href="#">Study: The gender wage gap in Canada: 1998 to 2018</a></h3>
						</div>

						<div class="article-card-information">
							<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Labour</a></p>
							<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
						</div>

						<div class="article-card-content">
							<div class="article-card-date">
								<time>October, 9, 2019, 3:37 PM</time>
							</div>
							<div class="row">
								<div class="article-card-image col-xs-12 col-md-6">
									<img src="/images/home/business-women-collaborate.jpg" alt="" />

								</div>
								<div class="article-card-text col-xs-12 col-md-6">

									<p>The Consumer Price Index (CPI) rose 1.4% on a year-over-year basis in January, down from a 2.0% increase in December. On a seasonally adjusted monthly basis, the CPI declined 0.1% in January.</p>

									<p><a href="" class="">Read more <span class="wb-inv">about "Study: The gender wage gap in Canada: 1998 to 2018"</span></a></p>

								</div>
							</div>

						</div>

					</article>
				</li>

				<li>
					<article class="article-card">

						<div class="article-card-title">
							<h3><a href="#">Asphalt roofing material, August 2019</a></h3>
						</div>

						<div class="article-card-information">
							<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
							<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
						</div>

						<div class="article-card-content">

							<div class="article-card-date">
								<time>October, 9, 2019, 3:37 PM</time>
							</div>
							<div class="row">
							<div class="article-card-image col-xs-12 col-md-6">
								<img src="/images/home/aerial-shot-architecture.jpg" alt="" />
							</div>


							<div class="article-card-text col-xs-12 col-md-6">

								<p>Average weekly earnings of non-farm payroll employees were $1,012 in December, little changed from the previous month. Compared with 12 months earlier, earnings grew 1.8%.</p>

								<p><a href="" class="">Read more <span class="wb-inv">about "Asphalt roofing material, August 2019"</span></a></p>

							</div>
							</div>
						</div>

					</article>
				</li>

			</ul>

				<ul class="article-cards-style-main">

					<li>
						<article class="article-card">

							<div class="article-card-title">
								<h3><a href="#">Study: The gender wage gap in Canada: 1998 to 2018</a></h3>
							</div>

							<div class="article-card-information">
								<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Labour</a></p>
								<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
							</div>

							<div class="article-card-content">

								<div class="article-card-image col-xs-12 col-md-6">
									<img src="/images/home/business-women-collaborate.jpg" alt="" />

								</div>

								<div class="article-card-date">
									<time>October, 9, 2019, 3:37 PM</time>
								</div>

								<div class="article-card-text">

									<p>A new study, "The gender wage gap in Canada: 1998 to 2018," is now available as part of the Labour Statistics Research Papers series.</p>

									<p><a href="" class="">Read more <span class="wb-inv">about "Study: The gender wage gap in Canada: 1998 to 2018"</span></a></p>

								</div>

							</div>

						</article>
					</li>

					<li>
						<article class="article-card">

							<div class="article-card-title">
								<h3><a href="#">Asphalt roofing material, August 2019</a></h3>
							</div>

							<!--<div class="article-card-information">
								<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
								<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
							</div>-->

							<div class="article-card-content">

								<!--<div class="article-card-image col-xs-12 col-md-6">
									<img src="/images/home/aerial-shot-architecture.jpg" alt="" />
								</div>-->

								<div class="article-card-date">
									<time>October, 9, 2019, 3:37 PM</time>
								</div>

								<div class="article-card-text">

									<p>Shipments of asphalt shingles totalled 2.5 million metric bundles in August, down 30.2% from the previous month and down 29.1% from August 2018.</p>

									<p><a href="" class="">Read more <span class="wb-inv">about "Asphalt roofing material, August 2019"</span></a></p>

								</div>

							</div>

						</article>
					</li>
					<li>
						<article class="article-card">

							<div class="article-card-title">
								<h3><a href="#">Asphalt roofing material, August 2019</a></h3>
							</div>

							<!--<div class="article-card-information">
								<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
								<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>
							</div>-->

							<div class="article-card-content">

								<!--<div class="article-card-image col-xs-12 col-md-6">
									<img src="/images/home/aerial-shot-architecture.jpg" alt="" />
								</div>-->

								<div class="article-card-date">
									<time>October, 9, 2019, 3:37 PM</time>
								</div>

								<div class="article-card-text">

									<p>Shipments of asphalt shingles totalled 2.5 million metric bundles in August, down 30.2% from the previous month and down 29.1% from August 2018.</p>

									<p><a href="" class="">Read more <span class="wb-inv">about "Asphalt roofing material, August 2019"</span></a></p>

								</div>

							</div>

						</article>
					</li>

				</ul>

            </div>

			<div class="col-md-5">

				<div class="sub-content-container">

					<div class="sub-articles-container">

						<h2>Data visualizations</h2>

						<ul class="article-cards-style-sub">
							<li>
								<article class="article-card">

									<div class="article-card-title">
										<h3><a href="#">The international trade explorer</a></h3>
									</div>

									<!--<div class="article-card-information">
										<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Labour</a></p>
&lt;!&ndash;										<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>&ndash;&gt;
									</div>-->

									<div class="article-card-content">

										<div class="article-card-image">
											<a href=""><img src="/images/home/ite.png" alt="" /></a>

										</div>

									</div>

								</article>
							</li>
							<li>
								<article class="article-card">

									<div class="article-card-title">
										<h3><a href="#">Infographics</a></h3>
									</div>

									<!--<div class="article-card-information">
										<p class="article-card-category"><a href="#"><span class="wb-inv">Category: </span>Manufacturing</a></p>
&lt;!&ndash;										<p class="article-card-new"><span class="wb-inv">Status: </span>New</p>&ndash;&gt;
									</div>-->

									<div class="article-card-content">

										<div class="article-card-image">
											<a href=""><img src="/images/home/info.png" alt="" /></a>
										</div>

									</div>

								</article>
							</li>

						</ul>
					<h2>Statistics Canada on Twitter</h2>
						<div class="twiter-placeholder">
							<img src="/images/home/twitter.png" alt="" style="display: block; max-width:100%;">
						</div>
						

					</div>

					<div class="you-may-also-like-container">

<!--						<h2>You May Also Like</h2>-->

						<ul class="also-like">
							<li><a href="#">My StatCan</a></li>
							<li><a href="#">The Weekly Review</a></li>
							<li><a href="#">Watch: Review economic statistics</a></li>
						</ul>

					</div>

				</div>

            </div>

        </div>

    </section>
