<section>

        <div class="row">

            <div class="col-md-6">

                <h2>New Products</h2>

                <ul class="product-list">

                    <li>
						<article class="product-card">
							<h3>
								<span class="wb-inv">Category: </span>Aviation
								<span class="wb-inv">Title: </span>Do eiusmod irure incididunt magna in ex</h3>
							<dl>
								<dt>Catalogue Number:</dt>
								<dd><a href="">1234567890asdfdsassadfasdf (<span class="sr-only">Product Type:</span>HTML)</a></dd>
							</dl>
						</article>
					</li>

                    <li>
						<article class="product-card">
							<h3>
								<span class="wb-inv">Category: </span>Something else
								<span class="wb-inv">Title: </span>Do eiusmod irure incididunt magna in ex</h3>
							<dl>
								<dt>Catalogue Number:</dt>
								<dd><a href="">adsakfjdsajejkafsd (<span class="sr-only">Product Type:</span>HTML)</a></dd>
							</dl>
						</article>
					</li>

					<li>
						<article class="product-card">
							<h3>
								<span class="wb-inv">Category: </span>Something else
								<span class="wb-inv">Title: </span>Do eiusmod irure incididunt magna in ex</h3>
							<dl>
								<dt>Catalogue Number:</dt>
								<dd><a href="">adsakfjdsajejkafsd (<span class="sr-only">Product Type:</span>HTML)</a></dd>
							</dl>
						</article>
					</li>

				</ul>

				<p><a href="#">See all new products</a></p>


            </div>

            <div class="col-md-6">

				<h2>Connect with us!</h2>

				<section>

					<h3>Media Relations - Media Hotline</h3>

					<dl class="dl-horizontal brdr-0">
						<dt>
							<p>Phone:</p>
						</dt>

						<dd>
							<a href="tel:6131234567">613123INFO (6131234567)</a>
						</dd>

						<dt>
							<p>Email:</p>
						</dt>

						<dd>
							<p><a href="mailto:something@canada.ca">something@canada.ca</a></p>
						</dd>


					</dl>

					<p>7:30 AM to 7:30 PM Monday to Friday (Time zones within Canada)</p>

					<p>An immediate response will be provided to media inquiries received on this line during business hours</p>

				</section>

				<section>

					<h3>General Inquiries</h3>

					<dl class="dl-horizontal brdr-0">
						<dt>
							<p>Phone:</p>
						</dt>

						<dd>
							<p><a href="tel:18001234567">1-800-123-4567</a> - Canada and United States only</p>
						</dd>

						<dt>
							<p>Email:</p>
						</dt>

						<dd>
							<p><a href="mailto:something@canada.ca">something@canada.ca</a></p>
						</dd>

					</dl>

					<p>7:30 AM to 7:30 PM Monday to Friday (Time zones within Canada)</p>

				</section>


            </div>

        </div>

    </section>