<section>

        <div class="row">

            <div class="col-md-6">

                <h2 class="footer-h2">Also available today</h2>

                <ul class="product-list">

                    <li>
						<article class="product-card">
							<h3>
								<span class="wb-inv">Category: </span>Canadian Labor Market Observatory:
								<span class="wb-inv">Title: </span>"Earnings and payroll employment in brief: Interactive app" Catalogue number</h3>
							<dl>
								<dt>Catalogue Number:</dt>
								<dd><a href="">142000012019001 (<span class="sr-only">Product Type:</span>HTML)</a></dd>
							</dl>
						</article>
					</li>

                    <li>
						<article class="product-card">
							<h3>
								<span class="wb-inv">Category: </span>Something else
								<span class="wb-inv">Title: </span>Do eiusmod irure incididunt magna in ex</h3>
							<dl>
								<dt>Catalogue Number:</dt>
								<dd><a href="">142000012019001 (<span class="sr-only">Product Type:</span>HTML)</a></dd>
							</dl>
						</article>
					</li>

					<li>
						<article class="product-card">
							<h3>
								<span class="wb-inv">Category: </span>Something else
								<span class="wb-inv">Title: </span>Do eiusmod irure incididunt magna in ex</h3>
							<dl>
								<dt>Catalogue Number:</dt>
								<dd><a href="">142000012019001 (<span class="sr-only">Product Type:</span>HTML)</a></dd>
							</dl>
						</article>
					</li>

				</ul>

				<p><a href="#">See all new products</a></p>


            </div>

            <div class="col-md-6">

				<h2 class="footer-h2">Connect with us!</h2>

				<section>

					<div class="contact-info">
						<div class="contact-img img-fluid">
							<img src="/images/home/social.png" alt="" style="max-width: 400px;">
						</div>
					</div>
					<h3 class="footer-h3">Media Relations - Media Hotline</h3>


						<p class="footer-info">613-951-INFO (613-951-4636) <br> 8:30 a.m. to 5:00 p.m. Eastern Time, Monday to Friday, excluding holidays. <br>
						<a href="mailto:STATCAN.mediahotline-ligneinfomedias.STATCAN@canada.ca">STATCAN.mediahotline-ligneinfomedias.STATCAN@canada.ca</a><br> An immediate response will be provided to media inquiries received on this line during business hours.</p>

				</section>

				<section>

					<h3 class="footer-h3">General Inquiries</h3>

					<p class="footer-info"> 1 800 263-1136 - Canada and the United States only 7:30 a.m. to 7:30 p.m. Monday to Friday (Time zones within Canada)<br> E-mail:
						<a href="mailto:STATCAN.infostats-infostats.STATCAN@canada.ca">STATCAN.infostats-infostats.STATCAN@canada.ca</a></p>
				</section>


            </div>

        </div>

    </section>
