    <section>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
		<!--<h2>Indicators</h2>-->


        <div class="indicators">

			<ul class="indicators-list indicate">

                <li>
					<article class="indicator-card value-up">

						<h3>Excepteur sint occaecat</h3>

						<dl>

							<dt>Metric:</dt>
							<dd class="indicator-metric-value">$51.5 billion</dd>

							<dt>Time Period:</dt>
							<dd class="indicator-time-value">July 2019</dd>

							<dt>Change as a percentage:</dt>
							<dd class="indicator-change-value">2.3%</dd>
							<!--
							<dt>Delta:</dt>
							<dd class="indicator-delta-value">(monthly change)</dd>
							-->
						</dl>

					</article>
                </li>

                <li>
                    <article class="indicator-card value-down">

                        <h3>Incididunt ut laborea</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">$51.5 billion</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">July 2019</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">55.3%</dd>
							<!--
                            <dt>Delta:</dt>
                            <dd class="indicator-delta-value">(daily change)</dd>
							-->
                        </dl>

                    </article>
                </li>

                <li>
                    <article class="indicator-card value-down">

                        <h3>Sed do eiusmod tempor</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">$51.5 billion</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">July 2019</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">-32.7%</dd>
<!--                            
							<dt>Delta:</dt>
                            <dd class="indicator-delta-value">(yearly change)</dd>
-->

                        </dl>

                    </article>
                </li>

                <li>
                    <article class="indicator-card value-up">

                        <h3>Consectetur adipiscing elit</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">$51.5 billion</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">July 2019</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">25.5%</dd>
<!--
                            <dt>Delta:</dt>
                            <dd class="indicator-delta-value">(monthly change)</dd>
-->
                        </dl>

                    </article>
                </li>

                

			</ul>

        </div>

    </section>

