    <section>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
		<!--<h2>Indicators</h2>-->


        <div class="indicators">

			<ul class="indicators-list indicate">

                <li>                    
                    <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/200313/dq200313b-eng.htm?lnk=dai-quo&indid=17081-0&indgeo=0" target="_blank">
					<article class="indicator-card value-up indicator-percentage">

						<h3 class="truncate">Percentage of total national gross domestic product attribute to environmental and clean technology products</h3>

						<dl>
<!-- 
							<dt>Metric:</dt>
							<dd class="indicator-metric-value">$51.5 billion</dd> -->

							<dt>Time Period:</dt>
							<dd class="indicator-time-value">2018</dd>

							<dt>Change as a percentage:</dt>
							<dd class="indicator-change-value">3.2%</dd>
							<!--
							<dt>Delta:</dt>
							<dd class="indicator-delta-value">(monthly change)</dd>
							-->
						</dl>

                    </article>
                    </a>                    
                </li>

                <li>
                    <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/200514/dq200514b-eng.htm?lnk=dai-quo&indid=4565-1&indgeo=0" target="_blank">
                    <article class="indicator-card value-down">

                        <h3 class="truncate">Operating revenue, agents and managers for artists, athletes, entertainers and other public figures</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">$15.1 million</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">2018</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">-5.4%</dd>
							<!--
                            <dt>Delta:</dt>
                            <dd class="indicator-delta-value">(daily change)</dd>
							-->
                        </dl>

                    </article>
                    </a>                    
                </li>

                <li>
                    <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/190910/dq190910b-eng.htm?lnk=dai-quo&indid=12921-1&indgeo=0" target="_blank">
                    <article class="indicator-card value-down">

                        <h3 class="truncate">Direct industrial greenhouse gas emissions intensity</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">0.33 kilotonnes</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">2017</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">-1.5%</dd>
<!--                            
							<dt>Delta:</dt>
                            <dd class="indicator-delta-value">(yearly change)</dd>
-->

                        </dl>

                    </article>
                    </a>                    
                </li>

                <li>
                    <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/200612/dq200612a-eng.htm?lnk=dai-quo&indid=5421-1&indgeo=0" target="_blank">
                    <article class="indicator-card value-down">

                        <h3 class="truncate">National wealth</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">$11.7 trillion</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">First quarter 2020</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">-0.4%</dd>
<!--
                            <dt>Delta:</dt>
                            <dd class="indicator-delta-value">(monthly change)</dd>
-->
                        </dl>
                    </article>
                    </a>                    
                </li>

                <li>
                    <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/200612/dq200612a-eng.htm?lnk=dai-quo&indid=5421-1&indgeo=0" target="_blank">
                    <article class="indicator-card value-down">

                        <h3 class="truncate">Debt service ratio</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">14.67%</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">First quarter 2020</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">-0.14</dd>
<!--
                            <dt>Delta:</dt>
                            <dd class="indicator-delta-value">(monthly change)</dd>
-->
                        </dl>

                    </article>
                    </a>                    
                </li>

                <li>
                    <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/200605/dq200605a-eng.htm?lnk=dai-quo&indid=3587-1&indgeo=0" target="_blank">
                    <article class="indicator-card value-down">
                        <h3 class="truncate">Employment - Canada</h3>

                        <dl>

                            <dt>Metric:</dt>
                            <dd class="indicator-metric-value">16,475,000</dd>

                            <dt>Time Period:</dt>
                            <dd class="indicator-time-value">May 2020</dd>

                            <dt>Change as a percentage:</dt>
                            <dd class="indicator-change-value">1.8%</dd>
<!--
                            <dt>Delta:</dt>
                            <dd class="indicator-delta-value">(monthly change)</dd>
-->
                        </dl>
                    </article>
                </a>
                </li>

                

			</ul>

        </div>

    </section>

