/*
    STATCAN DAILY
    @title: Styles for the indicator section

*/

// Starting colour for the gradient
$indicator-gradient-start: rgb(233, 233, 233);
$indicator-gradient-end: rgb(177, 177, 177);
$indicator-card-border-radius: 0px;



.indicators {

	margin: 20px 0px 20px 0px;


	//h2 {
	//	@include accessible-invisible;
	//}

	/*
	.horizontal-scroll {

		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;

		.indicator-card {

			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;

			padding: 20px;
			//margin: 15px;

			//min-width: 250px;
			//height: 100%;

			border-radius: $indicator-card-border-radius;
			//border: 1px solid blue;
			background-color:rgba(225,234,238,1);
			background-image: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );


			h3 {
				//white-space: nowrap;
				font-size: 1.5rem;

				margin: 0px;
				padding: 0px;
			}


			dl {
				//display: flex;
				//flex-direction: column;

				margin: 0px;
				padding: 0px 40px 0px 0px;

				// Hide the Data Heading
				dt {
					//@include accessible-invisible;

					//position: absolute;
					width: 1px;
					height: 1px;
					padding: 0;
					overflow: hidden;
					clip: rect(0, 0, 0, 0);
					white-space: nowrap;
					border: 0;
				}

				dd.indicator-time-value {
					font-size: 1.4rem;
					color: #707070;

					order: 1;
					//background-color: cornflowerblue;
				}

				dd.indicator-metric-value {
					font-size: 2.5rem;
					font-weight: bolder;

					order: 2;
					//background-color: green;
				}

				dd.indicator-change-value {

					font-size: 6rem;
					font-weight: bolder;

					margin: 0px 0px 0px auto;
					padding: 0px;
					order: 3;
					//background-color: orange;
				}

				dd.indicator-delta-value{

					font-size: 1.4rem;

					margin: 0px 0px 0px auto;
					padding: 0px;
					order: 4;
					//background-color: pink;
				}

			}



		}


	}
	*/

	ul.indicators-list {

		//list-style: none;
		//margin: 20px -15px 20px -15px;
		padding: 0px;

		//display: flex;
		//flex-wrap: nowrap;
//		align-items: stretch;
		//overflow-x: auto !important;


		// Start code that hides scroll bar
		// https://forum.ionicframework.com/t/hide-scrollbar-but-still-be-able-to-scroll/107146

		//-webkit-overflow-scrolling: touch;
		//-ms-overflow-style: none;  // IE 10+
		//scrollbar-width: none;  // Firefox
		//scroll-behavior: smooth;

		&::-webkit-scrollbar {
			display: none; // Safari and Chrome
		}
		// End code that hides a scroll bar

		li {

			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;

			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 20px;


			.indicator-card {

				padding: 10px;
				//margin: 15px;

				min-width: 250px;
				height: 100%;

				border-radius: $indicator-card-border-radius;
				border: 1px solid #ddd7d7;
				background-color:#dfe7eb;
				background: linear-gradient(to right, #e0e0e0, #fff);


				h3 {
					//white-space: nowrap;
					font-size: 1.3rem;

					margin: 0px;
					padding: 0px;
				}

				dl {
					display: flex;
					flex-direction: column;

					margin: 0px;
					padding: 0px 40px 0px 0px;

					// Hide the Data Heading
					dt {
						@include accessible-invisible;

						// When you have position absolute iOS freaks out
						position: inherit !important;

						/*
						width: 1px;
						height: 1px;
						padding: 0;
						overflow: hidden;
						clip: rect(0, 0, 0, 0);
						white-space: nowrap;
						border: 0;
						*/
					}

					dd.indicator-time-value {
						font-size: 1.0rem;
						color: #707070;

						order: 1;
						padding: 0px;
						margin: 0px;
						//background-color: cornflowerblue;

						@include accessible-invisible;
					}

					dd.indicator-metric-value {
						font-size: 1.5rem;
						font-weight: bolder;

						order: 2;
						padding: 0px;
						margin: 0px;
						//background-color: green;
					}

					dd.indicator-change-value {

						font-size: 2.5rem;
						font-weight: bolder;

						margin: 0px 0px 0px auto;
						padding: 0px;
						order: 3;
						//background-color: orange;
					}

					dd.indicator-delta-value{

						font-size: 1.4rem;

						margin: 0px 0px 0px auto;
						padding: 0px;
						order: 4;
						//background-color: pink;
					}

				}

				&.value-up { 

					background-image: url('/images/indicators/indicator-up.png'),  linear-gradient(to right, #e0e0e0, #fff);;
					background-position: 105% , top right;
					background-repeat: no-repeat, repeat;
				}
				
				&.value-down { 

					background-image: url('/images/indicators/indicator-down.png'),  linear-gradient(to right, #e0e0e0, #fff);;
					background-position: 105% , top right;
					background-repeat: no-repeat, repeat;
				}


			}

			&:last-child {

				//margin-right: 40px !important;
				padding-right: 40px !important;
				//border: 1px solid red;
				//border-right: 25px solid white;
			}





		}




	}

	// Medium and larger
	@media (min-width: $break-md) {


	}

}


.slick-prev:before, .slick-next:before{
	color: #335075;
	font-size: 25px;
	opacity: 1;
}


.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before{
	color: #1c578a;
}


#line{
	display: none;
}

@media screen and (min-width: 768px) {
	#line{
		display: block;
		border-top:1px solid orange;
		margin-bottom: 20px;
	}

	.indicators{
		MAX-WIDTH: calc(100% - 58px);
		margin: 10px auto;
	}
}
