/*
    STATCAN DAILY
    @title: Styles for the main articles section

*/


// Variables
$card-border-color: #cccccc;
$card-border-radius: 0px;
$card-padding: 10px 15px 15px 15px;
$card-background-color: #f8f8f8;
$img-border-radius: 0px;
$category-text-color: #195e9e; //#575757;

$title-text-color: #2b2b2b; 

$new-badge-bg-color: #114a80;
$new-badge-text-color: #fff;



ul.article-cards-style-main {

	list-style: none;
	margin: 20px 0px 0px 0px;
	padding: 0px;

	//background-color: black;

	li {

		.article-card {

			border-bottom: 1px solid $card-border-color;
			//border-radius: $card-border-radius;
			//padding: $card-padding;
			margin-top: 20px;

			display: flex;
			flex-direction: column;

			.article-card-title {

				//margin-top: 10px;
				font-size: 2.5rem;
				font-weight: bolder;

				h3 {
					margin: 0px;
					padding: 0px;

					a {
						text-decoration: none;
						color: $title-text-color;
						font: Bold 20px/28px Lato !important;
					}
				}

				a:visited { 
					color: $title-text-color;
				}

				h2,h4,h5,h6 {
					margin: 0px;
					padding: 0px;
					font-size: inherit;
				}

			}


			.article-card-information {
				order: -1;
				display: flex;
				flex-direction: row;
				justify-content: space-between;


				.article-card-category {

					font-size: 1.5rem;
					color: $category-text-color;
					font-weight: bold;
					padding: 0px;
					margin: 0px;

					display: flex;
					flex-direction: row;

					a {
						color: inherit;
						text-decoration: none;
						font: Bold 18px/38px Lato;
					}

				}

				.article-card-new {

					// Remove the new box for now
					display: none;

					background-color: $new-badge-bg-color;
					color: $new-badge-text-color;
					border-radius: 5px;
					padding: 0px 15px 0px 15px;
					margin: 0px;

					font-weight: lighter;
					font-size: 1.5rem;

					box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
				}


			}

			.article-card-content {
				//background-color: #888;

				.article-card-image {

					margin: 10px 0px 10px 0px;

					img {
						width: 100%;
						height: 200px;
						//object-fit: cover;
						object-fit: cover;
						border-radius: $img-border-radius;

						//box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
					}
				}

				.article-card-date {
					time{
						font-size:14px;
					}
				}

				.article-card-text {

					font-size: 16px;
					line-height: 2.4rem;

				}

			}


		}

	}

	// Medium and larger
	@media (min-width: $break-lg) {

		li {

			.article-card {

				//background-color: red;
				//border: 1px solid $card-border-color;
				border-radius: $card-border-radius;
				padding: 0 0 15px 0;

			}
		
		}

	}

}

ul.article-cards-style-sub {

	list-style: none;
	margin: 20px 0px 0px 0px;
	padding: 0px;

	//background-color: black;

	li {

		.article-card {

			// border: 1px solid $card-border-color;
			// border-radius: $card-border-radius;
			// padding: $card-padding;

			border-bottom: 1px solid $card-border-color;

			margin-top: 20px;

			display: flex;
			flex-direction: column;

			.article-card-title {

				//margin: 0px 0px 5px 0px;
				h3{
					margin: 0px;
					padding: 0px;
					a{

						color: $title-text-color;
						font: Bold 20px/28px Lato !important;
					}
				}
				a {
					text-decoration: none !important;
					color: $title-text-color;
					font: Bold 20px/28px Lato !important;
				}
	
				a:visited { 
					color: $title-text-color;
				}

				h2, h4,h5,h6 {
					margin: 0px;
					padding: 0px;
					font-size: inherit;
				}

			}


			.article-card-information {
				order: -1;
				display: flex;
				flex-direction: row;
				justify-content: space-between;


				.article-card-category {

					font-size: 1.5rem;
					color: $category-text-color;
					font-weight: bold;
					padding: 0px;
					margin: 0px;

					display: flex;
					flex-direction: row;

					a {
						color: inherit;
						text-decoration: none;
					}
				}

				.article-card-new {

					display: none;

					/*
					background-color: $new-badge-bg-color;
					color: $new-badge-text-color;
					border-radius: 5px;
					padding: 0px 15px 0px 15px;
					margin: 0px;

					font-weight: lighter;
					font-size: 1.5rem;

					box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
					*/
				}


			}

			.article-card-content {
				//background-color: #888;

				.article-card-image {

					//@include accessible-invisible;
					display: block;
					//margin: 10px 0px 10px 0px;

					/*
					img {
						width: 100%;
						height: 200px;
						//object-fit: cover;
						object-fit: cover;
						border-radius: $img-border-radius;

						box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
					}
					*/
					img{
						max-width: 100%;
					}
				}

				.article-card-date { 
					font-weight: bolder;
					font-size: 1.5rem;
				}

				.article-card-text {

					font-size: 1.6rem;
					line-height: 2.9rem;

				}

			}


		}

	}

	// Medium and larger
	@media (min-width: $break-lg) {


		li {

			.article-card {

				//border: 1px solid $card-border-color;
				border-radius: $card-border-radius;
				padding: 0 0 15px 0;


				.article-card-title {

					//margin: 10px 0px 0px 0px;

				}

				.article-card-information {

					.article-card-new {

						display: block;

						background-color: $new-badge-bg-color;
						color: $new-badge-text-color;
						border-radius: 5px;
						padding: 0px 15px 0px 15px;
						margin: 0px;

						font-weight: lighter;
						font-size: 1.5rem;

						box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
					}

				}

				.article-card-content {
					//background-color: #888;

					.article-card-image {

						display: block;

						margin: 10px 0px 10px 0px;

						img {
							width: 100%;
							height: 200px;
							//object-fit: cover;
							object-fit: cover;
							border-radius: $img-border-radius;

							//box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
						}
					}

					.article-card-text {

						font-size: 1.6rem;
						line-height: 2.4rem;

					}

				}


			}

		}

	}

}

.also-like{
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
	li{
		a{
			text-decoration: none;
			font: Bold 16px/39px Lato;
			line-height: 0px;
		}
	}
}

.visualizations{
	border: none !important;
}

.article-card:last-of-class{
	border: none;
}
