/*
    STATCAN DAILY
    @title: Styles for the new products section

*/


// Variables
$card-border-color: #cccccc;
$card-border-radius: 10px;
$card-padding: 10px 15px 15px 15px;
$card-background-color: #f8f8f8;
$img-border-radius: 10px;
$category-text-color: #575757;

$new-badge-bg-color: #114a80;
$new-badge-text-color: #fff;

ul.product-list {

	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;

	li {

		margin: 0px 0px 0px 0px !important;
		padding: 1px 0px 0px 0px !important;
		padding-top: 0px !important;

		.product-card {

			h3 {
				//margin-top: 0px;
				margin-bottom: 5px;
			}

			dl {

				margin-bottom: 0px;
				display: flex;
				flex-direction: column;

				dt {
					font-weight: normal;
				}

				dd {

				}


			}


		}

		// Address the spacing of products
		&:not(:first-child) {

			.product-card {

				h3 {
					margin-top: 25px !important;
				}

			}

		}

	}

	// Medium and larger
	@media (min-width: $break-md) {

		.product-card {

			dl {

				flex-direction: row;

				dt {
				}

			}

		}

	}

}

