/*
    STATCAN DAILY
    @title: Navigation Styles

*/

.navigation {

    background-color: #eee;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    // Medium devices and up
    @media screen and (min-width: $break-md) {

        flex-direction: row;
        background-color: green;

    }

    /* Hide the navigation header */
    h2 {
        @include accessible-invisible;
    }

    /* The wrapper around the banner image */
    .navigation-banner {

        align-self: center;

        // sm only
        @media screen and (max-width: $break-md) {

            img {
                //width: 50% !important;
            }

        }


    }

    /* The list of links for the navigation entries */
    ul.navigation-links {

        list-style: none;
        margin: 0px;
        padding: 0px;



        background-color: black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // Medium devices and up
        @media screen and (min-width: $break-md) {

            flex-direction: row;
            justify-content: space-around;
            background-color: green;

        }


        li {

            padding: 10px;
            text-align: center;


            a {
                display: block;
                font-size: 0.7em;
            }

        }


    }

}


// Navigation Version 1
// Navigation bar sticks to the bottom of the screen on mobile 
.navigation-v1 { 

    h2 { 
        @include accessible-invisible;
    }

    /* The wrapper around the banner image */
    .navigation-banner {

        // sm only
        @media screen and (max-width: $break-md) {

            img {
                margin-left: auto;
                margin-right: auto;
                width: 75% !important;
            }

        }


    }

    .navigation-search { 
        height: 50px;
        width: 50px;
        background-color: $thedaily-primary-color;
        
        border-radius: 50px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

        overflow: hidden;
        position: fixed;
        bottom: 0;
        right: 0;
        left:0;

        padding: 5px 5px 5px 10px;
        margin: 0px auto 50px auto;


        // lift infront of the footer 
        z-index: 10001;

    }

    .navigation-links { 

        height: 80px;
        background-color: $thedaily-secondary-color;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;

        padding: 10px 0px 0px 0px;
        margin: 0px 0px 0px -20px;
        list-style: none;


        // lift infront of the footer 
        z-index: 10000;


        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-around;

        li { 

            flex-grow: 1;
            text-align: center;           
        
            font-size: 1rem;


            a { 

                //border: 1px solid red;

                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                text-decoration: none;
                color: #fff;
                font-weight: bolder;

                img { 
                    width: 20px;
                }
       
            }

        }

        li.nl-about { 
            @include accessible-invisible;
        }

        li.nl-indicators { 
            margin-right: 35px;
        }



    }


    // Medium devices and up
    @media screen and (min-width: $break-md) {

        flex-direction: row;
        //background-color: red;

        .navigation-links { 

            border-top: 1px solid grey; 
            border-bottom: 1px solid #969595; 

            padding: 10px 0px 0px 0px;
            margin: 0px 0px 0px 0px;

            position: relative;
            background-color: #969595;

            li a img { 
                @include accessible-invisible;
            }

            li a { 
                color: #000;
            }

            li.nl-about { 
                position: relative;
                width: auto;
                height: auto;
                padding: 0;
                overflow: auto;
                clip: none;
                white-space: auto;
                border: 0;
            }
        }

        .navigation-search { 
            height: 50px;
            width: 50px;
            background-color: #fff;
            
            border-radius: 0px;
            box-shadow: none;
    
            overflow: hidden;
            position: relative;
            bottom: 0;
            right: 0;
            left:0;
    
            padding: 0px;
            margin: 0px;
    
    
            // lift infront of the footer 
            z-index: 10001;
    
        }

    }


}


// Navigation Version 2
// Navigation bar implements Hamburger menu on mobile
.navigation-v2 { 
    
    h2 { 
        @include accessible-invisible;
    }

    .navigation-container { 

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        padding: 0px 0px 0px 0px;


        .navigation-banner { 
            
            display: flex;
            align-items: center;
            flex-shrink: 0;
        }

        .navigation-button { 

            // Hide in large view
            
            button { 
                
                display: flex;
                align-items: center;
                
                background: white;
                border: none;
                                
                margin: 0px;
                padding: 0px;
                
            }

        }

        .navigation-links {
            display: block;
            width: 100%;
            flex-grow: 1;
            //flex-basis: 100%;

            ul { 
                list-style: none;
                margin: 20px 0px 0px 0px;
                padding: 0px 0px 0px 0px;

                li { 
                    font-weight: normal;
                    margin: 0px 0px 0px 0px;
                    
                    border-bottom: 1px solid #6e6e6e;
                    

                    a { 
                        margin: 0px 0px 0px 0px;
                        padding: 10px 10px 10px 10px;
                        color: #4d4d4d; //$thedaily-link-color !important;
                        text-decoration: none;
                       
                        display: block;
                    }

                    a:visited { 
                        color: #4d4d4d; //$thedaily-link-color !important;
                    }

                    a.active { 
                        background-color: $thedaily-link-color;
                        font-weight: bolder;
                        color: #fff;
                    }


                }

                li:last-child { 
                    border-bottom: none;
                }

            }
            
        }



    }

    .blah { 
        background-color:red;
    }

   
}


// Navigation Version 3
// Navigation bar implements dropdown menu on mobile 
.navigation-v3 { 
    
    h2 { 
        @include accessible-invisible;
    }

    .navigation-container { 
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        padding: 0px 0px 0px 0px;

        //border: 1px solid red;

        .navigation-banner { 
            
            display: flex;
            align-items: center;
            flex-shrink: 0;

            width: 50%;
        }

        .navigation-links { 

            //border: 1px solid red;
            width: 45%;

            label { 
                @include accessible-invisible;
            }

            select { 
                
                // Remove the default appearance
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;

                /* Hide the arrow in IE */
                &::-ms-expand { 
                    display: none; 
                }
                
                font-size: 2.1rem;
                border: 2px solid $thedaily-link-color;
                border-radius: 0px;
                
                height: 50px;
                padding: 0px 0px 0px 5px;

                color: $thedaily-link-color;
                font-weight: bolder;

                // Draw the down arrow
                background-image: url("/images/navigation/v3/down.svg");
                background-position: center right 10px; 
                background-repeat: no-repeat;
                background-size: 20px;
                
            }

            
        }

    }


}



