/*
    STATCAN DAILY
    @title: Home page styles

*/

.sub-content-container {

	display: flex;
	flex-direction: column;

	.sub-articles-container {

		order: 1;

		h2 {
			@include accessible-invisible;
		}

	}

	.you-may-also-like-container {

		order: 2;

		ul { 

			list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="12" height="12"><rect fill="f5a623" width="200" height="200" style="fill:rgb(245, 166, 35);"/></svg>');

			margin: 0px 0px 0px 0px;
			padding: 10px 0px 10px 25px;

		}
		
	}

	// Medium and larger
	@media (min-width: $break-lg) {

		.sub-articles-container {

			order: 2;

		}

		.you-may-also-like-container {

			order: 1;
			margin-top: 35px;
		}


	}


}


