/*
    STATCAN DAILY
    @title: Home page styles

*/

.sub-content-container {

	display: flex;
	flex-direction: column;

	.sub-articles-container {

		order: 1;

		h2 {
			@include accessible-invisible;
		}

	}

	.you-may-also-like-container {

		order: 2;

		ul { 

			list-style: none;

			li::before { 

				content: "\25AA";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
				color: $thedaily-primary-color; /* Change the color */
				font-weight: bold; /* If you want it to be bold */
				display: inline-block; /* Needed to add space between the bullet and the text */
				width: 1em; /* Also needed for space (tweak if needed) */
				margin-left: -1em; /* Also needed for space (tweak if needed) */
			}
		}

	}

	// Medium and larger
	@media (min-width: $break-lg) {

		.sub-articles-container {

			order: 2;

		}

		.you-may-also-like-container {

			order: 1;

		}


	}


}


