
<!-- Start Navigation -->
<nav class="navigation-v1">

    <!-- To do: Will require a French translation here -->
    <h2>Statistics Canada The Daily Main Navigation</h2>

    <!-- To do: Logo -->
    <div class="navigation-banner col-xs-12 col-sm-3">
        <a class="" href="">
            <img src="{{ "/images/logo/logo.png" | relURL }}" alt="" class="img-responsive" />
        </a>
    </div>


    <ul class="navigation-links list-inline menu" role="menubar">
        <li class="nl-schedule">
            <a href="" class="item" role="menuitem">
                <img src="{{ "/images/navigation/v1/ico-schedule.png" | relURL }}" alt="" />
                <span class="hidden-xs nowrap">Release Schedule </span>

				<span class="hidden-sm nowrap">Schedule </span>
            </a>
        </li>
        <li class="nl-indicators">
            <a href="">
                <img src="{{ "/images/navigation/v1/ico-indicators.png" | relURL }}" alt="" />
                Indicators
            </a>
        </li>
        <!-- <li class="nl-search"><a href="">Search</a></li>  -->
        <li class="nl-interest">
            <a href="">
                <img src="{{ "/images/navigation/v1/ico-interests.png" | relURL }}" alt="" />
                <span class="hidden-xs">Special Interest </span>
				<span class="hidden-sm">Interest </span>
            </a>
        </li>
        <li class="nl-subject">
            <a href="">
                <img src="{{ "/images/navigation/v1/ico-subjects.png" | relURL }}" alt="" />
                <span class="hidden-xs">Release by Subject </span>
				<span class="hidden-sm">Subject </span>
            </a>
        </li>
        <li class="nl-about"><a href="">About the Daily</a></li>
    </ul>
	<div class="navigation-search">
		<a href="" title="Search The Daily">
			<img src="{{ "/images/navigation/v1/ico-home.png" | relURL }}" alt="Icon search">
		</a>
	</div>

</nav>
<!-- End Navigation -->
<div id="line" style="clear:both;"></div>
<!--<section class="visible-xs-block visible-sm-block mrgn-tp-md">-->
<section class="mrgn-tp-md">
        <form class="form-inline">
            <div class="form-group lg-float">
    
                <div class="input-group ">
                    <input type="text" class="form-control brdr-rds-0" id="exampleInputAmount" placeholder="Search the Daily">
                   
                    <div class="input-group-addon" style="padding: 0px; border: none;">
                        <button type="submit" class="btn btn-primary btn-small brdr-rds-0" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                    </div>
                </div>
    
            </div>
        </form>
    
    </section>
<div style="clear:both"></div>
