
<!-- Start Navigation -->
<nav class="navigation-v3">

    <!-- To do: Will require a French translation here -->
    <h2>Statistics Canada The Daily Main Navigation</h2>

    <!-- Navigation container -->
    <div class="navigation-container">

        <!-- Logo -->
        <div class="navigation-banner">
            <a class="" href="">
                <img src="{{ "/images/logo/logo.png" | relURL }}" alt="" class="img-responsive" />
            </a>
        </div>

        <!-- Links -->
        <div class="navigation-links">

                <div class="wb-frmvld">
                    <form>
                        <div class="wb-fieldflow" data-wb-fieldflow='{
                                "noForm": true,
                                "isoptional": true,
                                "noreqlabel": true,
                                "defaultselectedlabel":"Pages"
                            }'>
                            <p><span class="wb-fieldflow-label"></span>Choose content</p>
                            <ul>
                                <li data-wb-fieldflow='{"action":"ajax", "url": "ajax/ajax-1.html", "live":true}'>(Set 1) Nunc sed mauris id nisi molestie porta at quis erat.</li>
                                <li data-wb-fieldflow='{"action":"ajax", "url": "ajax/ajax-2.html", "live":true}'>(Set 2) Vestibulum pretium tortor vel facilisis sodales.</li>
                                <li data-wb-fieldflow='{"action":"ajax", "url": "ajax/ajax-3.html", "live":true}'>(Set 3) Nunc sit amet dui ut justo efficitur dapibus.</li>
                                <li data-wb-fieldflow='{"action":"ajax", "url": "ajax/ajax-4.html", "live":true}'>(Set 4) Praesent at purus ut turpis sollicitudin aliquam.</li>
                                <li data-wb-fieldflow='{"action":"ajax", "url": "ajax/ajax-5.html", "live":true}'>(Set 5) Sed eget dui ac nunc mattis consequat in a ex.</li>
                            </ul>
                        </div>
                    </form>
                </div>
            <!-- 
            <ul class="">
                <li><a href="">Release schedule</a></li>
                <li><a href="">Indicators</a></li>
                <li><a href="">Special interest</a></li>
                <li><a href="">Release by subject</a></li>
                <li><a href="">About the Daily</a></li>
            </ul>
            -->
            
        </div>

    </div>

</nav>
<!-- End Navigation -->

<section class="visible-xs-block visible-sm-block mrgn-tp-md">

    <form class="form-inline">
        <div class="form-group">

            <div class="input-group">
                <input type="text" class="form-control brdr-rds-0" id="exampleInputAmount" placeholder="Search the Daily">
               
                <div class="input-group-addon" style="padding: 0px; border: none;">
                    <button type="submit" class="btn btn-primary btn-small brdr-rds-0" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                </div>
            </div>

        </div>
    </form>

</section>