
<!-- Start Navigation -->
<nav class="navigation-v1">

    <!-- To do: Will require a French translation here -->
    <h2>Statistics Canada The Daily Main Navigation</h2>

    <!-- To do: Logo -->
    <div class="navigation-banner">
        <a class="" href="">
            <img src="{{ "/images/logo/logo.png" | relURL }}" alt="" class="img-responsive" />
        </a>
    </div>

    <div class="navigation-search">
        <a href="" title="Search The Daily">
            <img src="{{ "/images/navigation/v1/ico-search.png" | relURL }}" alt="Icon search">
        </a>
    </div>

    <ul class="navigation-links">
        <li class="nl-schedule">
            <a href="">
                <img src="{{ "/images/navigation/v1/ico-schedule.png" | relURL }}" alt="" />
                <span class="hidden-xs">Release </span>Schedule
            </a>
        </li>
        <li class="nl-indicators">
            <a href="">
                <img src="{{ "/images/navigation/v1/ico-indicators.png" | relURL }}" alt="" />
                Indicators
            </a>
        </li>
        <!-- <li class="nl-search"><a href="">Search</a></li>  -->
        <li class="nl-interest">
            <a href="">
                <img src="{{ "/images/navigation/v1/ico-interests.png" | relURL }}" alt="" />
                <span class="hidden-xs">Special </span>Interest
            </a>
        </li>
        <li class="nl-subject">
            <a href="">
                <img src="{{ "/images/navigation/v1/ico-subjects.png" | relURL }}" alt="" />
                <span class="hidden-xs">Release by </span>Subject
            </a>
        </li>
        <li class="nl-about"><a href="">About the Daily</a></li>
    </ul>

</nav>
<!-- End Navigation -->
