
<!-- Start Navigation -->
<nav class="navigation">

    <!-- To do: Will require a French translation here -->
    <h2>Statistics Canada The Daily Main Navigation</h2>

    <h1>Version 1</h1>

    <!-- To do: Logo -->
    <div class="navigation-banner">
        <a class="" href="">
            <img src="{{ "/images/logo/logo.png" | relURL }}" alt="" class="img-responsive" />
        </a>
    </div>

    <ul class="navigation-links">
        <li><a href="">Release schedule</a></li>
        <li><a href="">Indicators</a></li>
        <li><a href="">Special interest</a></li>
        <li><a href="">Release by subject</a></li>
        <li><a href="">About the Daily</a></li>
    </ul>

</nav>
<!-- End Navigation -->
