
<!-- Start Navigation -->
<nav>

    <div class="navigation">

        <!-- To do: Will require a French translation here -->
        <h2>Smart Daily Navigation</h2>

        <!-- To do: Logo -->
        <a class="navigation-banner" href=""><img class="img-responsive" src="https://via.placeholder.com/350x100" alt="" /></a>

        <ul class="navigation-list">
            <li><a href="">Release schedule</a></li>
            <li><a href="">Indicators</a></li>
            <li><a href="">Special interest</a></li>
            <li><a href="">Release by subject</a></li>
            <li><a href="">About the Daily</a></li>
        </ul>
            
    </div> 
            
</nav>
<!-- End Navigation -->

<!-- Start Navigation -->
<nav class="navigation-2">

    <!-- To do: Will require a French translation here -->
    <h2>Statistics Canada The Daily Main Navigation</h2>

    <!-- To do: Logo -->
    <div class="navigation-banner">
        <a class="" href="">
            <img src="https://via.placeholder.com/250x100" alt="" />
        </a>
    </div>
    
    <ul class="navigation-links">
        <li><a href="">Release schedule</a></li>
        <li><a href="">Indicators</a></li>
        <li><a href="">Special interest</a></li>
        <li><a href="">Release by subject</a></li>
        <li><a href="">About the Daily</a></li>
    </ul>
            
</nav>
<!-- End Navigation -->