/* 
    STATCAN DAILY
    @title: Base styles for headings and links and things

*/

$thedaily-primary-color: #f5a623;
$thedaily-secondary-color: #114a80;


h2 { 
    
    padding-bottom: 5px;
    border-bottom: 2px solid $thedaily-primary-color;

}